.super-important.highlighted {
    background-color: red;
}

.highlighted,
.company-data {
    color: yellow;
}

li.user-data {
    font-size: 24px;
}

span.user-data {
    font-size: 10px;
}