a[target="_blank"] {
    color: green;
}

ol,
ul {
    background-color: yellow;
}

header,
footer {
    border: 3px dashed blue;
}

h1,
h2,
h3,
h4 {
    margin-left: 20px;
}

article.new {
    font-size: 24px;
}

li.new {
    background-color: red;
}

.new.posted-today {
    background-color: pink;
}